<!DOCTYPE html>
<html>
<head>
    <title>metaFilterCSV</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="status-info">
        <img src="static/metaFilterCSV.webp" alt="Logo" class="logo">
        <form method="post" action="/set_project">
            <label for="project">Project: </label>
            <select name="project" id="project" onchange="this.form.submit()">
                {% for proj in projects %}
                    <option value="{{ proj }}" {% if proj == project %}selected{% endif %}>{{ proj }}</option>
                {% endfor %}
            </select>
        </form>
        <div id="status">
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
        </div>
        <p class="total-records">Records: {{ total_records }}</p>
        <p class="included-count">Included: {{ included_count }}</p>
        <p class="excluded-count">Excluded: {{ excluded_count }}</p>
        <p class="duplicates-count">Duplicates: {{ duplicates_count }}</p>
    </div>
    <div class="container">
        <div class="static-info">
            <h2>Inclusion / Exclusion Criteria</h2>
            <div>
                {% for line in static_info %}
                    <p>{{ line }}</p>
                {% endfor %}
            </div>
            <h2>Show/Hide Fields</h2>
            <ul>
                {% for field in record.keys() %}
                    <li>
                        <input type="checkbox" id="check_{{ field }}" class="custom-checkbox" checked onclick="toggleField('{{ field }}')">
                        <label for="check_{{ field }}">{{ field }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="record-details">
            <h2>Record Details</h2>
            <ul>
                {% for key, value in record.items() %}
                    <li id="field_{{ key }}"><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
            <div class="actions">
                {% if not included and not excluded %}
                    <div>
                        <form id="include-form" onsubmit="handleAction(event, 'include', {{ record_id }})">
                            <button type="submit" class="button_include">Include</button>
                            <select name="inclusion_importance" class="button_include" required>
                                <option value="1">1 - Minimal Relevance</option>
                                <option value="2">2 - Low Relevance</option>
                                <option value="3">3 - Moderate Relevance</option>
                                <option value="4">4 - High Relevance</option>
                                <option value="5">5 - Essential</option>
                            </select>
                        </form>
                    </div>
                    <div>
                        <form id="exclude-form" onsubmit="handleAction(event, 'exclude', {{ record_id }})">
                            <button type="submit" class="button_exclude">Exclude</button>
                            <select name="exclusion_reason" class="button_exclude" required>
                                <option value="Geographic Mismatch">Geographic Mismatch</option>
                                <option value="Irrelevant Application Area">Irrelevant Application Area</option>
                                <option value="Insufficient Empirical Evidence">Insufficient Empirical Evidence</option>
                                <option value="Non-Academic Source">Non-Academic Source</option>
                                <option value="Limited Relevance to Research">Limited Relevance to Research</option>
                                <option value="Language Barrier">Language Barrier</option>
                            </select>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script id="selectedFieldsData" type="application/json">{{ selected_fields | tojson | safe }}</script>
    <script src="/static/script.js" defer></script>
</body>
</html>
