<!DOCTYPE html>
<html>
<head>
    <title>metaFilterCSV</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="status-info">
        <img src="static/metaFilterCSV.webp" alt="Logo" class="logo">
        <form method="post" action="/set_project">
            <label for="project">Project: </label>
            <select name="project" id="project" onchange="this.form.submit()">
                {% for proj in projects %}
                    <option value="{{ proj }}" {% if proj == project %}selected{% endif %}>{{ proj }}</option>
                {% endfor %}
            </select>
        </form>
        <p>Records: {{ total_records }}</p>
        <p>Included: {{ included_count }}</p>
        <p>Excluded: {{ excluded_count }}</p>
        <p>Duplicates: {{ duplicates_count }}</p>
        <p>Current Record: {{ record_id + 1 }}</p>
    </div>
    <div class="container">
        <div class="static-info">
            <h2>Inclusion / Exclusion Criteria</h2>
            <div>
                {% for line in static_info %}
                    <p>{{ line }}</p>
                {% endfor %}
            </div>

            <h2>Show/Hide Fields</h2>
            <ul>
                {% for field in record.keys() %}
                    <li>
                        <input type="checkbox" id="check_{{ field }}" class="custom-checkbox" checked onclick="toggleField('{{ field }}')">
                        <label for="check_{{ field }}">{{ field }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="record-details">
            <h2>Record Details</h2>
            <ul>
                {% for key, value in record.items() %}
                    <li id="field_{{ key }}"><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
            <div class="actions">
                {% if not included and not excluded %}
                    <div>
                        <form method="post" action="/action/include/{{ record_id }}">
                        <button type="submit" class="button_include">Include</button>
                    </form>
                    </div>
                    <div>
                        <form method="post" action="/action/exclude/{{ record_id }}">
                            <button type="submit" class="button_exclude">Exclude</button>
                            <select name="exclusion_reason">
                                <option value="1">Irrelevance</option>
                                <option value="2">Data Quality</option>
                                <option value="3">Full Text Unavailable</option>
                            </select>
                        </form>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
    <script id="selectedFieldsData" type="application/json">{{ selected_fields | tojson | safe }}</script>
    <script src="/static/script.js" defer></script>
</body>
</html>
